
#root {
  margin: 0 auto;

}

.rotate90 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180degg);
  transform: rotate(180deg);
}


